.course {
  display: inline-block;
  width: 86%;
  padding: 0 10px;

  h1 {
    margin: 0;
  }

  img {
    float: right;
    margin-left: 20px;
  }
}
@media screen and (max-width: 1200px) {
  .course {
    background-color: rgba(255, 255, 255, .9);
    display: block;
    max-width: 100%;
    margin: 20px 0;
    width: 100%;

    img {
      display: block;
    }
  }
}